/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*.json
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.idea/
/node_modules/
/test-fig-compiled/
/resources/public/js/compiled/
/figwheel_server.log
/npm-debug.log
/resources/public/css/
/config.json
/config-beta.json
externs/
